.inboxMessage {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 4px;
}
.selectAndTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;
    flex-shrink: 0;
}
.sectionMessagesSection {
    /* margin-top: 10px; */
}
.sectionMessagesSectionActive {
    display: none;

}